@font-face {
    font-family: pusab;
    src: url(./Assets/pusab.otf);
}

marquee {
    font-size: xx-large;
    font-family: pusab;
    color: #101;
    stroke: white;
    stroke-width: 1px;
    background: linear-gradient(70deg, #55f, #f55);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

body {
    background: url('./Assets/background.png') no-repeat center center fixed;
    background-size: cover;
}
.logo {
    width:100%;
}

.thumbnailText {
    font-size: 0px;
}

.thumbnail {
    font-size: 0px;
    border-radius: 25px;
    transition: border-radius 0.2s ease-in-out;
    padding-top: 10px;
    padding-left: 10px;
    width: 150px;
    height: 150px;
}
.thumbnail:hover {
    
    border-radius: 50px;
    transition: border-radius 0.2s ease-in-out;
}

@keyframes thumbnailhover {
    from {
        border-radius: 25px;
    }
    to {
        border-radius: 50px;
    }
}

.thumbnailDiv {
    background: linear-gradient(45deg, #55f, #f55);
    background-blend-mode: darken;
    border-radius: 25px;
    margin: 50px;
    padding-right: 10px;
    padding-bottom: 8px;
}

.information {
    display: flex;
    font-family: cursive;
    color:#101;
    justify-content: flex-end;
}

/* about.html */

.infoText {
    background: linear-gradient(45deg, #aaf, #faa);
    background-blend-mode: darken;
    border-radius: 25px;
    font-family: pusab;
    text-align: center;
    color:#000;
    font-size: 30px;
}
.aboutProfile {
    color: white;
    background-color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border-radius: 25px;
    font-family: pusab;
    text-align: center;
    font-size: 30px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    width: 700px;
    display:inline-table;
    padding: 10px;
}

.aboutJoles {
    background: linear-gradient(45deg, #ffa, #afa);
}

.aboutExoryn {
    background: linear-gradient(45deg, #FF94F9 , #FFE87C);
}

.aboutTenebrism {
    background: linear-gradient(45deg, #faa, #666);
}

.aboutBasiliotornado {
    background: linear-gradient(45deg, rgba(28, 126, 255, 0.555), #fff);
}

.aboutGyro {
    background: linear-gradient(45deg, #aaf, #faa);
}
